.button {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding: 20px 40px 28px;
  width: 100%;
  border-radius: 15px;
  color: $color-dark-navy;
  transition: background-color 0.3s;

  background: $color-light-yellow;
  box-shadow: inset 0px -8px 0px $primary-button-shadow-color;

  &.button--md {
    box-shadow: inset 0 -4px 0 $primary-button-shadow-color;
  }

  &:hover {
    background: $color-light-yellow-hover;
  }
}

.button.button--md {
  padding: 15px 15px;
  border-radius: 10px;
  width: auto;
}

.button.button--secondary {
  background: $color-light-blue;
  box-shadow: inset 0 -8px 0 $secondary-button-shadow-color;

  &.button--md {
    box-shadow: inset 0 -4px 0 $secondary-button-shadow-color;
  }

  &:hover {
    background: $color-light-blue-hover;
  }
}

.button.button--tertiary {
  background: $color-silver;
  box-shadow: inset 0 -8px 0 $tertiary-button-shadow-color;

  &.button--md {
    box-shadow: inset 0 -4px 0 $tertiary-button-shadow-color;
  }

  &:hover {
    background: $color-silver-hover;
  }
}
