// Primary Colors
$color-light-blue: #31c3bd;
$color-light-blue-hover: #65e9e4;
$color-light-yellow: #f2b137;
$color-light-yellow-hover: #ffc860;
$color-dark-navy: #1a2a33;
$color-semi-dark-navy: #1f3641;
$color-silver: #a8bfc9;
$color-silver-hover: #dbe8ed;

// Base
$base-font-size: 16px;
$base-font-style: Outfit, 'sans-serif';
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2.5rem;

// Buttons
$primary-button-shadow-color: #cc8b13;
$secondary-button-shadow-color: #118c87;
$tertiary-button-shadow-color: #6b8997;
